* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#heading{
    text-align: center;
    color: #ff4500;
    font-size: 42px;
    margin-bottom: 30px;
}


body {
    background-color: #f4f4f4;
    color: #bf1414;
    line-height: 1.6;
    padding: 20px;
}

#idlyimg{
    width: 500px;
    height: 300px;
}

#mysorebondaimg{
    width: 500px;
    height: 300px;
}

#pooriimg{
    width: 500px;
    height: 300px;
}

#dosaimg{
    width: 500px;
    height: 300px;
}

#vadaimg{
    width: 500px;
    height: 300px;
}

#upmapesarattuimg{
    width: 500px;
    height: 300px;
}

#uttapamimg{
    width: 500px;
    height: 300px;
}

#upmaimg{
    width: 500px;
    height: 300px;
}

#idlysambarimg{
    width: 500px;
    height: 300px;
}

#dahivadaimg{
    width: 500px;
    height: 300px;
}

.itemName{
    width: 20px;
    background-color:'red';
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 30px auto;
    padding: 30px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: 0.3s;
}

.items:hover {
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


.items  {
    font-size: 22px;
    color: #333;
    margin: 60px 60px;
    line-height: 1.5;
}


.image-container.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 350px;
}


img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 15px;
    
}

img:hover {
    transform: scale(1.05);
}


.controls.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}


button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 18px;
    border-radius: 5px;
}

button:hover {
    background: #218838;
}


button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

#decreasebtn{
    margin-right: -175px;
    margin-left: 0px;
}

#increasebtn{
    margin-right: 0px;
    margin-left: -175px;
}

#total {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    background: #343a40;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

#plates, #amount {
    margin: 15px 0;
}